.full-btn{/*основа, большая красная кнопка*/
    display: block;
    width: 100%;
    line-height: 153px;
    border: 1px solid #db2222;
    border-radius: 5px;
    background-color: #db2222;
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}
.full-btn__white,
.full-btn__small:hover{/*изменение красная->белая кнопка*/
    color: #db2222;
    background-color: #ffffff;
    box-shadow: 0 0 10px 10px #db222280;
}
.full-btn__small{/*маленькая красная кнопка*/
    width: 255px;
    font-size: 20px;
    line-height: 27px;
    padding: 20px 0;
    border-radius: 30px;
}
.full-btn__small-popup{/*маленькая красная кнопка (Popup)*/
    width: 86%;
    padding: 20px 0;
    margin: 0 auto 86px;
    font-size: 20px;
    line-height: 27px;
}
.full-btn__white:hover,
.full-btn__small-popup:hover{
    color: #fff;
    background-color: #db2222;
}
@media (max-width: 1199px) and (min-width: 961px){
}
@media (max-width: 960px) and (min-width: 769px){
    .full-btn{
        max-height: 153px;
    }
    .full-btn__small{
        font-size: 18px;
        line-height: 25px;
        padding: 18px 0;
    }
}
@media (max-width: 768px) and (min-width: 576px){
    .full-btn{
        max-height: 153px;
    }
    .full-btn__small{
        font-size: 18px;
        line-height: 25px;
        padding: 18px 0;
    }
}
@media (max-width: 575px){
    .full-btn{
        font-size: calc(22px + 8 * (100vw - 350px) / 849);
        line-height: calc(30px + 11 * (100vw - 350px) / 849);
        padding: 37px 0;
    }
    .full-btn__small{
        width: 60%;
        font-size: 16px;
        line-height: 22px;
        padding: 14.5px 0;
    }
    .full-btn__small-popup{
        width: 92%;
        margin: 0 auto 80px;
        padding: 20px 0;
        }
}