/*шапка сайта*/
.header{
    position: absolute;
    padding: 10px 0 0 0;
    width: 100%;
    height: 125px;
    z-index: 2;
    background: linear-gradient(to bottom,
    rgb(255, 255, 255, 0.8) 0%, transparent 90%);
}
.header__inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.logo{
    text-decoration: none;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    color: #4E5754;
    cursor: pointer;
}
.logo:hover{
    color: #e20000;
    transition: all 0.4s ease;
}
.menu__list{
    display: flex;
    gap: 50px;
}
.menu__link{
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.4s;
}
.menu__link:hover {
    color: #e20000;
    transition: all 0.25s;
    background-size: 100% 2px;
}
@media (max-width: 1199px) and (min-width: 961px){
    .container{
        padding: 0 25px;
    }
    .social__contacts{
        padding: 60px 0 0 0;
    }
}
@media (max-width: 960px) and (min-width: 769px){
    
}
@media (max-width: 768px) and (min-width: 576px){
    .menu{
        display: none;
    }
}
@media (max-width: 575px){
    .menu{
        display: none;
    }
}