#portfolio{
    display: block;
    margin: 0 0 150px 0;
}
.title{
    font-size: 55px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.03em;
    padding: 0 0 40px 0;
}
.portfolio__container{
    padding: 0 0 40px 0;
}
.portfolio__link{
    color: #f7f7f7;
    text-decoration: none;
    position: relative;
}
.portfolio__img{
    border-radius: 30px;
    height: 550px;
    background-size: cover;
    box-shadow: #1d334a95 8px 9px 20px;
}
.portfolio__img::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    background: transparent;
    background-image: linear-gradient(180deg, 
    rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.5) 
    100%);
}
.portfolio__link-title{
    position: absolute;
    left: 50px;
    bottom: 70px;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}
.portfolio__link-text{
    position: absolute;
    left: 50px;
    bottom: 30px;
    font-size: 25px;
    font-weight: 500;
    line-height: 39px;
}
.portfolio__link-inner:hover{
    color: #e20000;
    transition: all 0.4s ease;
}
@media (max-width: 1199px) and (min-width: 961px){
    #portfolio{
        margin: 0 0 120px 0;
    }
}
@media (max-width: 960px) and (min-width: 769px){
    #portfolio{
        margin: 0 0 100px 0;
    }
}
@media (max-width: 768px) and (min-width: 576px){
    #portfolio{
        margin: 0 0 80px 0;
    }
    .title{
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }
    .portfolio__img{
        width: 100%;
        background-position: 50% 50%;
        height: 300px;
    }
}
@media (max-width: 575px){
    #portfolio{
        margin: 0 0 80px 0;
    }
    .title{
        font-size: 30px;
        line-height: 36px;
        font-weight: 600;
        text-align: center;
    }
    .portfolio__img{
        background-position: 50% 50%;
        height: 300px;
    }
    .portfolio__link-title{
        font-size: 26px;
        line-height: 36px;
        left: 15px;  
    }
    .portfolio__link-text{
        font-size: 20px;
        line-height: 26px;
        left: 15px;  
    }
}