@import url(../styles/header.css);
@import url(../styles/burger.css);
@import url(../styles/welcome.css);
@import url(../styles/portfolio.css);
@import url(../styles/skils.css);
@import url(../styles/tasks.css);
@import url(../styles/feedback.css);
@import url(../styles/footter.css);
@import url(../styles/button.css);

html, body{
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    color: #455a64;
}
.container{
    max-width: 1185px;
    margin: 0 auto;
    padding: 0 15px;
}
.social{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 290px 0 0 0;
    gap: 15px;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.03em;
}
.social-footer{
    align-items: end;
    padding: 0;
}
@media (max-width: 1199px) and (min-width: 961px){
    .container{
        padding: 0 25px;
    }
    .social-footer{
        align-items: end;
        padding: 0;
    }
    .social__contacts{
        padding: 60px 0 0 0;
    }
}
@media (max-width: 960px) and (min-width: 769px){
    .container{
        padding: 0 30px;
    }
    .social{
        padding: 265px 0 0 0;
        gap: 15px;
    }
    .social-footer{
        align-items: end;
        padding: 0;
    }
}
@media (max-width: 768px) and (min-width: 576px){
    .container{
        padding: 0 30px;
    }
    .social{
        display: none;
    }
    .social-footer{
        display: flex;
        align-items: end;
        padding: 0;
    }
}
@media (max-width: 575px){
    .container{
        padding: 0 20px;
    }
    .social{
        display: none;
    }
    .social-footer{
        display: flex;
        align-items: end;
        padding: 0;
    }
}

