html, body{
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    color: #1D334A;
}

.container{
    max-width: 1185px;
    margin: 0 auto;
    padding: 0 15px;
}
/*шапка сайта*/
#header{
    width: 100%;
    height: 100%;
    margin: 0 0 150px 0;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, transparent 24%),
    url('../image/imPhoto@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.header{
    padding: 30px 0 0 0;
    position: relative;
    width: 100%;
}

.header__inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 470px;
}

.logo{
    text-decoration: none;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    color: #4E5754;
    cursor: pointer;
}

.logo:hover{
    color: #e20000;
    transition: all 0.4s ease;
}

.menu__list{
    display: flex;
    gap: 50px;
}

.menu__link{
    font-size: 18px;
    color: #4E5754;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.4s;
    text-shadow: #1D334a95 2px 2px 4px;
}

.menu__link:hover {
    color: #e20000;
    transition: all 0.4s;
    background-size: 100% 2px;
}

.welcome__inner{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.welcome__content{
    width: 660px;
}

.welcome__name{
    font-size: 63px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -0.03em;
    color: #f7f7f7;
    padding: 334px 0 0 0;
}

.welcome__title{
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #f7f7f7e4;
    padding: 10px 0 0 0;
}

.welcome__text{
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #f7f7f7;
    padding: 10px 0 0 0;
}

.social{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.welcome__social{
    flex-direction: column;
    padding: 310px 0 0 0;
}

.welcome__content{
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.welcome__item{
    position: relative;
    width: 50px;
    height: 50px;
    opacity: 0.9;
    transition: all 0.3s;
}

.welcome__item:hover{
    opacity: 0.5;
}

.welcome__link__mail{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../image/icon-mail-withe.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome__link__github{
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url('../image/icon-github-withe.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome__link__vk{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../image/icon-vk-withe.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome__link__telegram{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../image/icon-telegram-withe.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome__link__inst{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../image/icon-inst-withe.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/*Загаловок сайта*/
#portfolio{
    display: block;
}

.title{
    font-size: 55px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.03em;
    padding: 0 0 40px 0;
}

.portfolio__container{
    padding: 0 0 30px 0;
}

.portfolio__link{
    color: #f7f7f7;
    text-decoration: none;
    position: relative;
}

.portfolio__img{
    border-radius: 30px;
    height: 550px;
    background-size: cover;
    box-shadow: #1d334a95 8px 9px 20px;
}

.portfolio__img::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    background: transparent;
    background-image: linear-gradient(180deg, 
    rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.5) 
    100%);
}

.portfolio__link-title{
    position: absolute;
    left: 50px;
    bottom: 70px;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.portfolio__link-title:hover{
    color: #e20000;
    transition: all 0.4s ease;
}

.portfolio__link-text{
    position: absolute;
    left: 50px;
    bottom: 30px;
    font-size: 25px;
    font-weight: 500;
    line-height: 39px;
}

.portfolio__link-text:hover{
    color: #e20000;
    transition: all 0.4s ease;
}

.portfolio__container:last-child{
    padding: 0 0 80px 0;
}

.portfolio__btn{
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: #f7f7f7;
    background-color: #4E5754;
}

.portfolio__btn:hover{
    color: #e20000;
    border: 2px solid #e20000;
    background-color: #ffffff;
}
/*Мои навыки*/

#skils{
    margin-top: 150px;
}

.skils{
    width: 770px;
    position: relative;
    padding: 0 0 60px 0;
}

.skils__icon {
    width: 45px;
    height: 44px;
    padding: 1.2%;
    background-color: #e20000;
    margin: 8px 0 12px 0;
    border-radius: 10px;
}

.skils__title{
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.03em;
    color: #e20000;
}

.skils__text{
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
    padding: 15px 0 0 0;
}

.skils:last-child{
    padding: 0 0 0 0;
}
/*Задачи*/
#tasks{
    margin-top: 150px;
}

.tasks__title{
    width: 405px;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.03em;
}

.tasks{
    padding: 74px 0 0 0;
    
}

.tasks__box{
    width: 100%;
    height: 285px;
    border-radius: 30px;
    background-color: #f7f7f77f;
    border-radius: 30px;
    box-shadow: #1d334a95 4px 6px 20px;
}

.tasks__box__title{
    width: 100%;
    font-size: 55px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #e20000;
    padding: 40px 0 15px 40px;
}

.tasks__box__text{
    width: 65%;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
    padding: 0 0 15px 40px;
}
/*Контакты*/
#contaсts{
    margin: 150px 0 0 0;
    position: relative;
    border-radius: 30px;
    background-image: linear-gradient(180deg, 
    rgba(255, 255, 255, 0.5) 10%, rgba(0, 0, 0, 0.5) 
    100%);
}

.contacts{
    content: '';
    width: 100%;
    border-radius: 30px;
    background-image: url('../image/cuate.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    padding-bottom: 89px;
}

.contacts__title{
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    padding: 320px 0 28px 0;
}

.social{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.contacts__social{
    flex-direction: column;
}

.contacts__content{
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.contacts__item{
    position: relative;
    width: 50px;
    height: 50px;
    opacity: 0.9;
    transition: all 0.3s;
    color: #4E5754;
}

.contacts__item:hover{
    opacity: 0.5;
}

.contacts__link__mail{
    position: absolute;
    left: 350px;
    width: 50px;
    height: 50px;
    opacity: 0.6;
    background-image: url('../image/icon-mail.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__link__github{
    position: absolute;
    left: 350px;
    width: 55px;
    height: 55px;
    opacity: 0.6;
    background-image: url('../image/icon-github.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__link__vk{
    position: absolute;
    left: 350px;
    width: 50px;
    height: 50px;
    opacity: 0.6;
    background-image: url('../image/icon-vk.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contacts__link__telegram{
    position: absolute;
    left: 350px;
    width: 50px;
    height: 50px;
    opacity: 0.6;
    background-image: url('../image/icon-telegram.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__link__inst{
    position: absolute;
    left: 350px;
    width: 50px;
    height: 50px;
    opacity: 0.6;
    background-image: url('../image/icon-inst.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/*Footer*/
.footer{
    width: 100%;
    height: 100px;
    margin: 150px 0 0 0;
    box-shadow: #1d334a17 0px -7px 20px;
    border-radius: 30px 30px 0 0;
}

.footer__text{
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    opacity: 0.5;
    text-align: center;
    padding: 40px 0 0 0;
}
