@import url(../styles/header.css);
@import url(../styles/welcome.css);
@import url(../styles/portfolio.css);
@import url(../styles/skils.css);
@import url(../styles/tasks.css);
@import url(../styles/contacts.css);
@import url(../styles/footter.css);
@import url(../styles/buttom.css);

html, body{
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    color: #1D334A;
}
body{/*фоновый рисунок*/
    margin: 0;
    background: url(../image/binary-code.png);
    background-size: cover;
    background-attachment: fixed; 
    background-blend-mode: color-burn;
    background-color: rgba(255, 255, 255, 0.9);
}
.container{
    max-width: 1185px;
    margin: 0 auto;
    padding: 0 15px;
}
.social{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 310px 0 15px 0;
    gap: 20px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.03em;
}

